
.index-container {
  width: min(99vw, 99.2%);
  margin: auto;
}
.index-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.side-bar {
  z-index: 0;
  flex: 3;
  position: sticky;
  position: -webkit-sticky;
  top: 80px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  padding: 20px;
  height: calc(100vh - 80px);
  overflow-y: scroll;
}
.main-body {
  flex: 9;
}
.item {
  margin: 0 5px;
}
.side-bar-container {
  width: 95%;

  display: flex;
  flex-direction: column;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #535151;
  border-radius: 7px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
.search-input {
  border: 1px solid #005c80;
  border-radius: 10px;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 3px;
}
#search {
  width: 90%;
  border: none;
  height: 100%;
  background-color: transparent;
  padding: 0 10px;
}
#search:focus {
  outline: none;
  background-color: transparent;
}
#search-icon {
  color: #005c80;
  cursor: pointer;
}
.categorys {
  padding: 20px 0;
}
.category {
  border: 0.3px solid #005c80;
  width: 100%;
  height: 30px;
  margin: 10px 0;
  color: #005c80;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-size: 20px;
  justify-content: space-between;
  cursor: pointer;
  /* box-shadow: 0px 0px 5px 0px rgba(0, 92, 128, 0.2); */
}
.minus-icon {
  font-size: 10px;

  display: none;
}
.plus-icon {
  font-size: 10px;
}

.collapse {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}
.collapse:hover {
  background-color: #005c80;
  color: white;
}
.subcategory {
  display: none;
}
.btn {
  padding: 0.2em 1em;
  color: #295161;
  font-size: 18px;
  border-radius: 10px;
}
a {
  text-decoration: none;
  font-family: lobster;
  white-space: nowrap;
}
.btn:hover {
  background-color: rgb(0, 92, 128, 0.1);
}
.subcategory-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}
.subcategory-item {
  margin: 8px 2px;
  flex: 10%;
  flex-grow: 0;
}
.coments-likes-counts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 12px;
  font-style: italic;
  font-weight: 600;
  color: var(---primary);
}
.coments-likes-counts-items {
  flex: 1;
}
.likes-count {
  text-align: start;
}
.comments-counts {
  text-align: end;
}
.author {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  flex: 30%;
  flex-grow: 0;
}
.author-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 20px;
}
h4 {
  font-size: 14px;
  font-weight: 200;
  white-space: nowrap;
  color: var(---primary);
  font-family: lobster;
}
.main-body-container {
  width: 80%;
  margin: auto;
}
.headline {
  display: flex;
  padding: 30px;
  align-items: center;
  width: 100%;
  height: 70px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  margin: 10px 0;
  cursor: pointer;
}
.headline-container {
  flex: 70%;
}
.headline-content {
  margin-bottom: 5px;
}
